.sidebar {
    height: 100vh;
    background: #343a40;
    color: white;
    padding: 15px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.sidebar a:hover, .sidebar .active {
    background: rgb(230, 73, 0);
}
@media (max-width: 767px) {
    .sidebar {
        transform: translateX(-100%);
        display: block;
    }
    .sidebar.show {
        transform: translateX(0);
    }
    #sidebarToggle {
        margin: 10px;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1000;
    }
}